<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Simple page layout made with Materialize</h5>
        <p class="grey-text text-lighten-4">Images and videos belong to their respectable owners. Titles descriptions from imdb.com</p>
      </div>
      <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Other projects</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Codepen</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
      <div class="container">
      © 2017 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">Want More Links ?</a>
    </div>
  </div>
</footer>