<div class="articleContainer">
  <div class="row">
    <div class="col m12 l8">
        <div class="flow-text caption">
          <h3>Halt and catch Fire</h3>
          <p>This is probably the best drama about early IT scene. <br>
          This show is very down to earth about struggles of IT engineers and programmers. <br>
          Even today programmers can relate to many of the the issues presented in the serie <br>
          and those who does remember these times will watch it with great deal of sentiment.  <br>
          Its done in really good taste and there are some big screen actors involved <br>
          Great show all-around.
          </p>
        </div>
    </div>
    <div class="col m12 l4">
        <img class="poster" src="https://pbs.twimg.com/media/DCeGSAQXcAUB6JH.jpg">
    </div>
<!--test-->

<!--test-->
  </div>
</div>